@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 1000;
  font-family: 'Poppins', sans-serif; 
  height: 80px;
}

.logo {
  height: 30px;
}

.download-button {
  background-color: #AD6825;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.download-button:hover {
  border: 1px solid black; 
  color: white;
}

.content {
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-image {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.community-name {
  font-size: 24px;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif; 
}

.chat-button {
  background-color: #AD6825;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
  font-family: 'Poppins', sans-serif; 
}

.chat-button:hover {
  border: 1px solid black; /* border color on hover */
}

.description {
  margin-top: 40px;
  color: #777;
  text-align: center;
  font-family: 'Poppins', sans-serif; 
}

.whatsapp-text {
  font-weight: bold; /* Makes the text bold */
  margin-left: 10px; /* Optional: adjust spacing between logo and text */
  font-size: 20px; /* Optional: adjust font size to match logo height */
  align-self: center; /* Center-align with the logo */
  color: #AD6825 ;
}
