.password-manager-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}

.password-manager-form {
    flex: 1;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    color: #333;
}

input::placeholder {
    color: #999;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3d2c1e;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

.forgot-password {
    color: #1E4AE9;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 10px;
    align-self: flex-end;
}

.change-password-button {
    background-color: #15010A;
    width: 100%;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-password-button:hover {
    background-color: #7d7579;
}

.error-message-box {
    background-color: #ffdddd;
    border: 1px solid #f5c2c7;
    color: #d8000c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.password-input-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none; 
}

.toggle-password:focus {
    outline: none; 
}


.password-manager-image {
    flex: none;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
    margin-left: 20px;
}

.password-manager-image img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .password-manager-container {
        flex-direction: column;
    }
    .password-manager-form {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .password-manager-image {
        margin-left: 0;
        border-radius: 16px;
    }
}