.signup-container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
}

.signup-form {
    flex: 1;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    color: #333;
}

input::placeholder {
    color: #999;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3d2c1e;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.signup-button {
    background-color: #15010A;
    width: 100%;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #7d7579;
}

.footer-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #2b2a29;
}

.signup-image {
    flex: none;
    width: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
    margin-left: 20px;
}

.signup-image img {
    max-width: 100%;
    height: auto;
}

.error-message-box {
    background-color: #ffdddd;
    border: 1px solid #f5c2c7;
    color: #d8000c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.password-group {
    position: relative;
}

.password-input-container {
    display: flex;
    align-items: center;
}

.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    color: #333; 
}

@media (max-width: 768px) {
    .signup-container {
        flex-direction: column; 
    }
    .signup-form {
        margin-right: 0; 
        margin-bottom: 20px; 
    }
    .signup-image {
        flex: none; 
        margin-left: 0;
        border-radius: 16px; 
    }
}